<!doctype html>
<html ng-app="contactusapp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<title><%= title %></title>

<link rel="stylesheet" href="css/lib/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/custome.css">

<!--[if lt IE 9]><script src="js/html5.js" type="text/javascript"></script><![endif]-->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lib/angular.js"></script>
<script src="js/lib/angular-ui-router.min.js"></script>
<script src="js/loading-bar.js"></script>
<script src="js/contactus.js"></script>
<script src="js/notifier.js"></script>
<script src="js/classie.js"></script>
<script src="js/jquery.customSelect.js"></script>
<script type="text/javascript">
$(function(){
  $('select.select').customSelect();
});
</script>

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
</head>

<body class="single_page" ng-controller="ContactUsController">

      <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
                <form class="sign-box signup" name="contactform" role="form" ng-submit="contactusFunction()">
                    <div class="sign-logo">
                         <img src="images/logo-dark.svg" alt="">
                    </div>
                    <header class="sign-title">Simplify your scheduling</header>
                    <div class="row ">
                      <div class="col-md-6 form-group"><label for="Firstname" class="form-label"><span style="color:red;">*</span>First Name</label>
                         <input type="text" name="firstname" class="form-control input-text" placeholder="First Name" required ng-model="contactData.firstname">
                         <span class="error" ng-show="contactform.firstname.$dirty && contactform.firstname.$invalid && contactform.firstname.$error.required" style="color:red">This field is required.</span>
                      </div>
                        <div class="col-md-6 form-group"><label for="Lastname" class="form-label"><span style="color:red;">*</span>Last Name</label>
                        <input type="text" name="lastname" class="form-control input-text" placeholder="Last Name" required ng-model="contactData.lastname">
                        <span class="error" ng-show="contactform.lastname.$dirty && contactform.lastname.$invalid && contactform.lastname.$error.required" style="color:red">This field is required.</span>
                        </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group"><label for="Email" class="form-label"><span style="color:red;">*</span>Email</label>
                      <input type="email" name="email" class="form-control input-text" placeholder="Email" required ng-model="contactData.email">
                      <span class="error" ng-show="contactform.email.$dirty && contactform.email.$invalid && contactform.email.$error.required" style="color:red">This field is required.</span>
                      <span class="error" ng-show="contactform.email.$error.email" style="color:red">Please enter valid email.</span>
                      </div>
                        <div class="col-md-6 form-group"><label for="Phone number" class="form-label"><span style="color:red;">*</span>Phone Number</label>
                        <input type="text" name="phoneno" class="form-control input-text" placeholder="Phone Number" required ng-pattern="/^\d{10}$/" ng-model="contactData.phonenumber">
                        <span class="error" ng-show="contactform.phoneno.$dirty && contactform.phoneno.$invalid && contactform.phoneno.$error.required" style="color:red">This field is required.</span>
                        <span class="error" ng-show="contactform.phoneno.$error.pattern" style="color:red">Phone number should be 10 digits.</span>
                        </div>
                    </div>
                     <div class="row ">
                      <div class="col-md-6 form-group"><label for="Company" class="form-label"><span style="color:red;">*</span>Company</label>
                        <input type="text" name="company" class="form-control input-text" placeholder="Company" required ng-model="contactData.company">
                        <span class="error" ng-show="contactform.company.$dirty && contactform.company.$invalid && contactform.company.$error.required" style="color:red">This field is required.</span></div>
                        <div class="col-md-6 form-group"><label for="role" class="form-label">Your role</label>                          
                        <select id="role" class="form-control" ng-model="contactData.role" name="role">
                          <option value="" selected="selected">Select Role</option>
                          <option ng-model="role" ng-repeat="r in role" value="{{r.name}}">{{r.name}}</option>
                        </select>  
                        <span class="error" ng-show="contactform.role.$dirty && contactform.role.$invalid && contactform.role.$error.required" style="color:red">This field is required.</span>                        
                        </div>
                    </div>
                    
                    <div class="row ">
                        <div class="col-md-6 form-group"><label for="Room No." class="form-label">Number of rooms (Bookable Spaces)</label>
                          <select id="Room No." class="form-control" ng-model="contactData.roomno" name="roomno" disabled>
                          <option value="" selected="selected">Select Room No.</option>
                          <option ng-model="roomno" ng-repeat="rn in roomno" value="{{rn.id}}">{{rn.room}}</option>
                        </select> 
                        <span class="error" ng-show="contactform.roomno.$dirty && contactform.roomno.$invalid && contactform.roomno.$error.required" style="color:red">This field is required.</span>                         
                        </div>
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn" ng-disabled="contactform.$invalid || isClicked == 1">Contact Us</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!--.page-center-->
    
<footer class="site-footer">
         <div class="container-fluid">
            <p>Copyright &copy; 2016 Softweb Solutions</p>
         </div>
    </footer>

</body>
</html>
