<!doctype html>
<html ng-app="forgotpasswordapp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title><%= title %></title>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lib/angular.js"></script>
<script src="js/lib/angular-ui-router.min.js"></script>
<script src="js/loading-bar.js"></script>
<script src="js/forgotpassword.js"></script>
<script src="js/notifier.js"></script>
<script src="js/classie.js"></script>


<link href="images/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
<link href="images/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
<link href="images/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
<link href="images/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
<link href="images/favicon.png" rel="icon" type="image/png">
<link href="images/favicon.ico" rel="shortcut icon">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="css/lib/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/custome.css">
</head>

<body class="single_page"  ng-controller="ForgotpasswordController">

    <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
                <form class="sign-box form-signin" role="form" ng-submit="forgotpassFunction()">
                    <div class="sign-logo">
                        <img src="images/logo-dark.svg" alt="">
                    </div>
                    <header class="sign-title">Forgot Password</header>
                    <div class="form-group">
                        <label for="Email" class="form-label">Email</label>
                        <input type="email" required = "required" ng-model="data.email" id="Email" class="form-control input-text" placeholder="abc@company.com"/>
                    </div>
                    <div class="form-group">
                    <button type="submit" class="btn" ng-disabled="isClicked == 1">Reset Password</button>
                    </div>

                </form>
            </div>
        </div>
    </div><!--.page-center-->
<footer class="site-footer">
         <div class="container-fluid">
            <p>Copyright &copy; 2016 Softweb Solutions</p>
         </div>
    </footer>

</body>
</html>