<!doctype html>
<html ng-app="registerapp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
<title><%= title %></title>

<link rel="stylesheet" href="css/lib/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/custome.css">

<!--[if lt IE 9]><script src="js/html5.js" type="text/javascript"></script><![endif]-->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/lib/angular.js"></script>
<script src="js/lib/angular-ui-router.min.js"></script>
<script src="js/loading-bar.js"></script>
<script src="js/login.js"></script>
<script src="js/register.js"></script>
<script src="js/notifier.js"></script>
<script src="js/classie.js"></script>
<script src="js/jquery.customSelect.js"></script>
<script type="text/javascript">
$(function(){
  $('select.select').customSelect();
});
</script>

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
</head>

<body class="single_page" ng-controller="RegisterController">

      <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
                <form class="sign-box signup" name="signupform" role="form" ng-submit="signupFunction()"">
                    <div class="sign-logo">
                         <img src="images/logo-dark.svg" alt="">
                    </div>
                    <header class="sign-title">Sign Up</header>
                    <div class="row ">
                      <div class="col-md-6 form-group"><label for="Firstname" class="form-label"><span style="color:red;">*</span>First Name</label>
                         <input type="text" name="firstname" class="form-control input-text" placeholder="First Name" required ng-model="signupData.firstname">
                         <span class="error" ng-show="signupform.firstname.$dirty && signupform.firstname.$invalid && signupform.firstname.$error.required" style="color:red">This field is required.</span>
                      </div>
                        <div class="col-md-6 form-group"><label for="Lastname" class="form-label"><span style="color:red;">*</span>Last Name</label>
                        <input type="text" name="lastname" class="form-control input-text" placeholder="Last Name" required ng-model="signupData.lastname">
                        <span class="error" ng-show="signupform.lastname.$dirty && signupform.lastname.$invalid && signupform.lastname.$error.required" style="color:red">This field is required.</span>
                        </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group"><label for="Email" class="form-label"><span style="color:red;">*</span>Email</label>
                      <input type="email" name="email" class="form-control input-text" placeholder="Email" required ng-model="signupData.email">
                      <span class="error" ng-show="signupform.email.$dirty && signupform.email.$invalid && signupform.email.$error.required" style="color:red">This field is required.</span>
                      <span class="error" ng-show="signupform.email.$error.email" style="color:red">Please enter valid email.</span>
                      </div>
                        <div class="col-md-6 form-group"><label for="Phone number" class="form-label"><span style="color:red;">*</span>Phone Number</label>
                        <input type="text" name="phoneno" class="form-control input-text" placeholder="Phone Number" required ng-pattern="/^\d{10}$/" ng-model="signupData.phonenumber">
                        <span class="error" ng-show="signupform.phoneno.$dirty && signupform.phoneno.$invalid && signupform.phoneno.$error.required" style="color:red">This field is required.</span>
                        <span class="error" ng-show="signupform.phoneno.$error.pattern" style="color:red">Phone number should be in 10 digits.</span>
                        </div>
                    </div>
                     <div class="row ">
                      <div class="col-md-6 form-group"><label for="Company" class="form-label"><span style="color:red;">*</span>Company</label>
                        <input type="text" name="company" class="form-control input-text" placeholder="Company" required ng-model="signupData.company">
                        <span class="error" ng-show="signupform.company.$dirty && signupform.company.$invalid && signupform.company.$error.required" style="color:red">This field is required.</span></div>
                        <div class="col-md-6 form-group"><label for="Calendar" class="form-label">Calendar</label>                          
                        <select id="Calendar" class="form-control" ng-model="signupData.calendarsystem">
                          <option value="" selected="selected">Select Calendar System</option>
                          <option ng-model="calendarsystem" ng-repeat="cs in calendarsystem" value="{{cs.id}}">{{cs.name}}</option>
                        </select>                          
                        </div>
                    </div>
                    
                    <div class="row ">
                      <div class="col-md-6 form-group"><label for="User name" class="form-label"><span style="color:red;">*</span>User Name</label>
                        <input type="text" name="username" class="form-control input-text" placeholder="User Name" required ng-model="signupData.username">
                        <span class="error" ng-show="signupform.username.$dirty && signupform.username.$invalid && signupform.username.$error.required" style="color:red">This field is required.</span></div>
                        <div class="col-md-6 form-group"><label for="Calendar" class="form-label">Number of rooms (Bookable Spaces)</label>
                          <select id="Room No." class="form-control" ng-model="signupData.roomno">
                          <option value="" selected="selected">Select Room No.</option>
                          <option ng-model="roomno" ng-repeat="rn in roomno" value="{{rn.id}}">{{rn.room}}</option>
                        </select>                          
                        </div>
                    </div>
                    
                    <div class="row ">
                      <div class="col-md-6 form-group"><label for="password" class="form-label"><span style="color:red;">*</span>Password</label>
                        <input type="password" name="password" class="form-control input-text" required placeholder="Password" ng-minlength='6' ng-model="signupData.password">
                        <span class="error" ng-show="signupform.password.$dirty && signupform.password.$invalid && signupform.password.$error.required" style="color:red">This field is required.</span>
                        <span class="error" ng-show="signupform.password.$error.minlength" style="color:red">Password must contain at least six characters.</span></div>
                        <div class="col-md-6 form-group"><label for="Confirm-password" class="form-label"><span style="color:red;">*</span>Confirm Password</label>
                        <input type="password" name="confirmpass" class="form-control input-text" required placeholder="Confirm Password" ng-model="signupData.confirmpassword">
                        <span class="error" ng-show="signupform.confirmpass.$dirty && signupform.confirmpass.$invalid && signupform.confirmpass.$error.required" style="color:red">This field is required.</span></div>
                    </div>
                    
                    <div class="form-group">
                    <button type="submit" class="btn" ng-disabled="signupform.$invalid  || isClicked == 1">Sign Up</button>
                    </div>
                     
                      <div style="border-top:1px solid #c5d6de;"></div>

                  <div class="form-group">
                      <div class="or">OR</div>
                      <a class="btn" style="color:#fff;" href="/">Sign In</a>
                  </div>

                </form>
                <div class="loader" ng-hide='loaderimg'></div>
            </div>
        </div>
    </div><!--.page-center-->
    
<footer class="site-footer">
         <div class="container-fluid">
            <p>Copyright &copy; 2016 Softweb Solutions</p>
         </div>
    </footer>

</body>
</html>
